@property --off-white {
    syntax: "<color>";
    initial-value: hsl(36, 100%, 99%);
    inherits: false;
}
@property --soft-red {
    syntax: "<color>";
    initial-value: hsl(5, 85%, 63%);
    inherits: false;
}

body {
    background-color: var(--off-white);
}
nav {

}

article h2 {
    color: var(--soft-red);
}

button {
    background-color: var(--soft-red);
}

.header {
    grid-area: header;
}

main {
    display: grid;
    grid-template-areas:
        "header header header"
        "main main main"
        "hey hey hey";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 50px 200px 50px;
}
