@property --off-white {
    syntax: "<color>";
    initial-value: hsl(36, 100%, 99%);
    inherits: false;
}
@property --soft-red {
    syntax: "<color>";
    initial-value: hsl(5, 85%, 63%);
    inherits: false;
}
@font-face {
    font-family: myFirstFont;
    src: url('./assets/fonts/Inter-VariableFont_slnt,wght.ttf');
}

* {
    margin: 0;
}

body {
    font-family: myFirstFont;
    background-color: var(--off-white);
    box-sizing: border-box;
    margin: 0;
    display: flex;
    justify-content: center;
}

.body-wrapper {
    padding: 32px 40px;
    max-width: 920px;
}

.mobile-menu {
    display: flex;
    justify-content: space-between;
    width: 200px;
    position: fixed;
    border: 1px solid red;
    z-index: 100;
    right: 2px;
    top: 0;
    background-color: white;
    padding: 20px 16px;

    img {
        height: 40px;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 16px;
        list-style: none;
        padding: 60px 0 20px 0;
    }

    @media (min-width: 760px) {
        display: none;
    }
}

p {
    font-size: 16px;
}

.heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.hamburger, .close-image {
    cursor: pointer;
}

.mobile-menu-closed {
    display: none;
}

.nav {
    a {
        text-decoration: none;
        color: gray;
    }

    ul {
        display: none;

        li {
            list-style: none;
        }
    }

    @media (min-width: 760px) {
        img {
            display: none;
        }

        ul {
            display: flex;
            gap: 24px;
        }
    }
}

article h2 {
    color: var(--soft-red);
}


main {
    display: grid;
    grid-template-areas:
    "headline  headline new"
    "top       top      top";
    grid-template-columns: repeat(3, 1fr);
    gap: 32px 16px;
}


.headline {
    grid-area: headline;
    display: grid;
    gap: 16px;
    grid-template-areas:
        "headline-img"
        "title"
        "preview";

    div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }
}

.headline img {
    grid-area: headline-img;
    width: 100%;
}

button {
    background-color: var(--soft-red);
}

.new {
    grid-area: new;
    background-color: black;
    color: white;
    padding: 24px 16px;
    display: flex;
    gap: 24px;
    justify-content: space-between;
    flex-direction: column;
}

.trending {
    grid-area: top;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;

    article {
        display: flex;
        gap: 16px;
        img {
            height: 150px;
            max-width: min(100px, 100%); /* TODO: come back to this. Width or max width? */
        }
        
        div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}

@media (min-width: 960px) {
    .headline {
        grid-template-areas:
            "headline-img  headline-img"
            "title  preview";
        grid-template-rows: 1.5fr 1fr;
    }
}

@media (max-width: 978px) {
    main {
        display: grid;
        grid-template-areas:
            "headline"
            "new"
            "top";
        gap: 16px;
        grid-template-columns: 1fr;
    }
}
