@property --off-white {
    syntax: "<color>";
    initial-value: hsl(36, 100%, 99%);
    inherits: false;
}
@property --soft-red {
    syntax: "<color>";
    initial-value: hsl(5, 85%, 63%);
    inherits: false;
}
@font-face {
    font-family: myFirstFont;
    src: url('./assets/fonts/Inter-VariableFont_slnt,wght.ttf');
}


body {
    font-family: myFirstFont;
    background-color: var(--off-white);
    box-sizing: border-box;
    margin: 0;
    display: flex;
    justify-content: center;
}

.body-wrapper {
    padding: 32px 40px;
    max-width: 920px;
}

p {
    font-size: 16px;
}

.heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.nav {
    display: flex;
    gap: 25px;

    a {
        text-decoration: none;
        color: gray;
    }
}

article h2 {
    color: var(--soft-red);
}


main {
    display: grid;
    grid-template-areas:
    "headline  headline new"
    "top       top      top";
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}


.headline {
    grid-area: headline;
    display: grid;
    gap: 16px;
    grid-template-areas:
        "headline-img"
        "title"
        "preview";
}

.headline img {
    grid-area: headline-img;
    width: 100%;
}

button {
    background-color: var(--soft-red);
}

.new {
    grid-area: new;
    background-color: black;
    color: white;
    padding-inline: 16px;
}

.top {
    grid-area: top;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;

    article {
        display: flex;
        gap: 15px;
        align-items: center;

        img {
            height: 150px;
        }
    }
}

@media (min-width: 960px) {
    .headline {
        grid-template-areas:
            "headline-img  headline-img"
            "title  preview";
        grid-template-rows: 1.5fr 1fr;
    }
}

@media (max-width: 978px) {
    main {
        display: grid;
        grid-template-areas:
            "headline"
            "new"
            "top";
        gap: 16px;
        grid-template-columns: 1fr;
    }
}
